.page{

}

.page header{
background-color: #ccc;
height: 100px;
}

.page .container{
    display: flex;
}

.page .container main { 
    background: pink;
  } 
  
.page .container aside { 
    background: green;
  } 
  
  .page footer { 
    background: gray; 
   }  
  