main { 
    background: pink; 
    width: 70%; 
    display: inline-block; 
    vertical-align: top; 
  } 
  
  aside { 
    background: green; 
    width: 30%; 
    display: inline-block;  
    margin-left: -4px; 
  } 
  
  footer { 
    background: gray; 
    min-height: 150px;
   }  
  